# Ignore VS Code config folder
.vscode/

# Ignore platformIO folder including local dependencies and build files
.pio/

# Ignore sensitive files
config.h
arduino_secrets.h
.env

# Ignore local file generated when building
compile_commands.json