Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  modernize-*,
  misc-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-header-guard,
  -modernize-use-trailing-return-type
  -misc-include-cleaner
  -clang-diagnostic-error

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: '15'
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ConstantPrefix
    value: k
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceConstantCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceConstantPrefix
    value: ''
  - key: cppcoreguidelines-pro-type-vararg.IgnoreMacros
    value: > 
      ESP_LOGI,
      ESP_LOGE,
      ESP_LOGW,
      ESP_LOGD,
      UNITY_BEGIN,
      UNITY_END,
      RUN_TEST,
      TEST_ASSERT_EQUAL,
      TEST_ASSERT_EQUAL_STRING,
      TEST_ASSERT_EQUAL_UINT32,
      TEST_ASSERT_NOT_EQUAL,
      TEST_ASSERT_FLOAT_WITHIN,
      TEST_ASSERT_NULL,
      TEST_ASSERT_NOT_NULL
  - key: misc-definitions-in-headers.IgnoreMacros
    value: 'ESP_EVENT_HANDLER_INSTANCE_DECLARE'